version: '3.9'
services:
  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://:9092
    depends_on:
      - zookeeper

  mysql:
    image: mariadb:11.4
    container_name: mysql
    environment:
      - MARIADB_ROOT_PASSWORD=P@ssw0rd
      - MARIADB_DATABASE=micro
      - MARIADB_USER=bond
      - MARIADB_PASSWORD=P@ssw0rd
    ports:
      - "3306:3306"
    volumes:
      - ./mysql:/var/lib/mysql
